:root {
  /* Colors */

  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);

  /* Fonts */
  --font: Outfit;
  --text: 400;
  --text-bold: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Outfit, system-ui;
  margin: 0;
}

input,
textarea,
button,
select {
  font: inherit;
}
