body {
  background-color: var(--slate300);
}

.container {
  max-width: 500px;
  margin-inline: auto;
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-items: center;
}

.wrapper {
  background-color: white;
  padding: 16px 16px 40px 16px;
  text-align: center;
  border-radius: 20px;
  width: 320px;
  height: 499px;
}

#qr-code {
  border-radius: 10px;
  margin-bottom: 0;
}

#headline {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 120%;
  margin-top: 24px;
  color: var(--slate900);
}

#text {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--slate500);
}
